target/classes/view/AppointmentsJFrame.class
*.class
target/classes/entities/Appointment_.class
*.class
target/classes/.netbeans_automatic_build
target/test-classes/.netbeans_automatic_build
*.class
*.html
target/apidocs/javadoc.bat
target/apidocs/options
target/apidocs/package-list
target/apidocs/script.js
target/apidocs/stylesheet.css
target/apidocs/packages
target/Project-1.0-SNAPSHOT-jar-with-dependencies.jar
*.jar
*.jar